html 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before
{
    box-sizing: inherit;
}

a
{
    color: inherit;
    text-decoration: none;
}

button 
{
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    /* text-transform: uppercase; */
    cursor: pointer;
}

ul 
{
    padding: 0;
    margin: 0;
    list-style: none;
}

p, h1, h2, h3, h4, h5, h6
{
    padding: 0;
    margin: 0;
}

body 
{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

@font-face 
{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf') format('ttf');
    src: url('../fonts/Montserrat-Regular.ttf') format('ttf');
    src: url('../fonts/Montserrat-SemiBold.ttf') format('ttf');
}

:root 
{
    --white: #FFFFFF;
    --primary:#01BDAA;
    --primary-shade-1:#CCF2EE;
    --secondary:#410182;
    --secondary-shade-1:#D9CCE6;
    --accent-01:#FE356F;
    --accent-01-shade-1:#FFD7E2;
    --accent-02:#FFB800;
    --dark:#000D0C;
    --grey-1:#333D3D;
    --grey-2:#666E6D;
}

.container 
{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.container-wrapper
{
    max-width: 1055px;
    margin: 0 auto;
}
/* ===================================== Header ===================================== */
.header
{
    background-image: url(../img/rectangle-bg.png);
    background-repeat: no-repeat;
    background-position: top bottom;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.nav
{
    display: flex;
    justify-content: space-between;
}

.access-content::after
{
    content: '';
    position: absolute;
    top: -300px;
    right: 920px;
    left: 0;
    bottom: 0;
    background-image: url(../img/ellipse-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.header_logo
{
    margin-right: 250px;
}

.header_list
{
    display: flex;
    gap: 0 50px;
}

.header_login
{
    display: flex;
    gap: 0 30px;
}
.header_logo,
.header_list,
.header_login
{
    margin-top: 36px;
    text-align: center;
}

.header_link,
.header_login-link
{
    color: var(--white);
}

.header_login-list__signup
{
    background-color: var(--accent-02);
    padding: 10px 35px;
    border-radius: 21px;
    margin-top: -10px;
    cursor: pointer;
}

.header_login-signup
{
    font-weight: 600;
    color: var(--dark);
}

/* ================================= Access-content ============================== */
.access-content
{
    margin-top: 150px;
}
.access-content_title
{
    font-weight: 700;
    font-size: 54px;
    line-height: 1.2;
    color: var(--white);
    width: 502px;
    margin-bottom: 30px;
}

.access-content_text
{
    color: var(--white);
    width: 443px;
    margin-bottom: 30px;
}

.access-content_price
{
    color: var(--white);
    margin-bottom: 30px;
}

.access-content_price span
{
    color: var(--accent-02);
    font-weight: 700;
    font-size: 35px;
}

.access-content_btn
{
    text-align: center;
    font-weight: 600;
    color: var(--dark);
    background-color: var(--accent-02);
    width: 163px;
    height: 44px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.access-content_days
{
    color: var(--white);
}