html 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before
{
    box-sizing: inherit;
}

a
{
    color: inherit;
    text-decoration: none;
}

button 
{
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    /* text-transform: uppercase; */
    cursor: pointer;
}

ul 
{
    padding: 0;
    margin: 0;
    list-style: none;
}

p, h1, h2, h3, h4, h5, h6
{
    padding: 0;
    margin: 0;
}

body 
{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

@font-face 
{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf') format('ttf');
    src: url('../fonts/Montserrat-Regular.ttf') format('ttf');
    src: url('../fonts/Montserrat-SemiBold.ttf') format('ttf');
}

:root 
{
    --white: #FFFFFF;
    --primary:#01BDAA;
    --primary-shade-1:#CCF2EE;
    --secondary:#410182;
    --secondary-shade-1:#D9CCE6;
    --accent-01:#FE356F;
    --accent-01-shade-1:#FFD7E2;
    --accent-02:#FFB800;
    --dark:#000D0C;
    --grey-1:#333D3D;
    --grey-2:#666E6D;
}

.title 
{
    font-weight: 700;
    font-size: 42px;
    line-height: 1.3;
    color: var(--dark);
}

.container 
{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.container-wrapper
{
    max-width: 1055px;
    margin: 0 auto;
}
/* ===================================== Header ===================================== */
.header
{
    background-image: url(../img/rectangle-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 862px;
    position: relative;
    margin-bottom: 160px;
}

.nav
{
    display: flex;
    justify-content: space-between;
}

.access-content::after
{
    content: '';
    position: absolute;
    top: -480px;
    right: 920px;
    left: 0;
    bottom: 0;
    background-image: url(../img/ellipse-2.png);
    background-repeat: no-repeat;
    background-position: center;
}

.access-content::before
{
    content: '';
    position: absolute;
    top: 25px;
    right: 0;
    left: 470px;
    bottom: 0;
    background-image: url(../img/group.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.header_logo
{
    margin-right: 250px;
}

.header_list
{
    display: flex;
    gap: 0 50px;
}

.header_login
{
    display: flex;
    gap: 0 30px;
}
.header_logo,
.header_list,
.header_login
{
    margin-top: 36px;
    text-align: center;
}

.header_link,
.header_login-link
{
    color: var(--white);
}

.header_login-list__signup
{
    background-color: var(--accent-02);
    padding: 10px 35px;
    border-radius: 21px;
    margin-top: -10px;
    cursor: pointer;
}

.header_login-signup
{
    font-weight: 600;
    color: var(--dark);
}

/* ================================= Access-content ============================== */
.access-content
{
    margin-top: 150px;
}
.access-content_title
{
    font-weight: 700;
    font-size: 54px;
    line-height: 1.2;
    color: var(--white);
    width: 502px;
    margin-bottom: 30px;
}

.access-content_text
{
    color: var(--white);
    width: 443px;
    margin-bottom: 30px;
}

.access-content_price
{
    color: var(--white);
    margin-bottom: 30px;
}

.access-content_price span
{
    color: var(--accent-02);
    font-weight: 700;
    font-size: 35px;
}

.access-content_btn
{
    font-weight: 600;
    color: var(--dark);
    background-color: var(--accent-02);
    width: 163px;
    height: 44px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.access-content_days
{
    color: var(--white);
}

/* ==================================== Main ====================== */

.group
{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.endless,
.putting,
.guarantee
{
    display: flex;
    margin-bottom: 150px;
}

.endless-img,
.guarantee-img
{
    margin-right: 100px;
}

.endless-content,
.putting-content,
.guarantee-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.endless-content_title
{
    width: 477px;
    margin-bottom: 50px;
}

.endless-content_text
{
    width: 447px;
    margin-bottom: 50px;
}

.endless-content_social
{
    display: flex;
    gap: 0 30px;
}

/* =============================================================== */

.putting-content_title,
.guarantee-content_title
{
    width: 470px;
    margin-bottom: 50px;
}

.putting-content_text,
.guarantee-content_text
{
    width: 400px;
    margin-bottom: 50px;
}

.putting-content_img
{
    margin-left: 30px;
}

.putting-content_btn,
.guarantee-content_btn
{
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary);
    width: 163px;
    height: 44px;
    border-radius: 10px;
}

/* ======================================================================= */

.save_title
{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.save_text
{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.save-content
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
}

.save-premium,
.save-popular,
.save-basic
{
    padding: 50px 30px;
    border-radius: 20px;
    width: 335px;
    height: 645px;
    cursor: pointer;
}

.premium_btn,
.popular_btn,
.basic_btn
{
    font-size: 10px;
    line-height: 1.6;
    border-radius: 5px;
    width: 99px;
    height: 32px;
    margin-bottom: 50px;
}
.premium_btn
{
    color: var(--secondary);
    background-color: var(--secondary-shade-1);
}

.premium_btn:hover
{
    color: var(--white);
    background-color: var(--secondary);
}

.popular_btn
{
    color: var(--primary);
    background-color: var(--primary-shade-1);
}

.popular_btn:hover
{
    color: var(--white);
    background-color: var(--primary);
}

.basic_btn
{
    color: var(--accent-01);
    background-color: var(--accent-01-shade-1);
}

.basic_btn:hover
{
    color: var(--white);
    background-color: var(--accent-01);
}

.premium_years,
.popular_years,
.basic_years
{
    font-weight: 600;
    line-height: 1.2;
    color: var(--dark);
    margin-bottom: 15px;
}

.premium-month,
.popular-month,
.basic-month
{
    font-size: 34px;
    font-weight: 600;
    line-height: 1.6;
    color: var(--dark);
}

.premium-box,
.popular-box,
.basic-box
{
    display: flex;
    gap: 0 20px;
    margin-bottom: 5px;
}

.premium-box_span,
.popular-box_span,
.basic-box_span
{
    font-size: 13px;
    font-weight: 600;
    line-height: 1.6;
    color: var(--dark);
}

.popular-box_span
{
    color: var(--primary);
}

.span
{
    color: var(--grey-2);
    text-decoration-line: line-through;
}

.premium_text,
.popular_text,
.basic_text
{
    font-size: 10px;
    line-height: 1.6;
    color: var(--grey-2);
    margin-bottom: 30px;
}

.premium-list,
.popular-list,
.basic-list
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
}

.premium-item,
.popular-item,
.basic-item
{
    display: flex;
    gap: 0 20px;
}

.premium-item_text,
.popular-item_text,
.basic-item_text
{
    font-size: 13px;
    line-height: 1.6;
    color: var(--grey-2);
}

.premium-submit_btn,
.popular-submit_btn,
.basic-submit_btn
{
    display: block;
    margin: 0 auto;
    font-weight: 600;
    width: 255px;
    height: 44px;
    border-radius: 10px;
    color: var(--primary);
    border: 1px solid var(--primary);
}

.save-premium:hover,
.save-popular:hover,
.save-basic:hover
{
    border: 1px solid var(--primary);
    background: linear-gradient(360deg, rgba(1, 189, 170, 0.34) -295.35%, rgba(39, 190, 175, 0) 84.19%);
}

.premium-submit_btn:hover,
.popular-submit_btn:hover,
.basic-submit_btn:hover
{
    color: var(--white);
    background-color: var(--primary);
}

/* ====================================================================== */
.section-premium_content
{
    padding: 50px 30px;
    box-shadow: 0px 0px 67px 3px #00000014;
    margin-bottom: 250px;
}

.section-premium_content-title
{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.premium_content-list
{
    display: flex;
    justify-content: space-between;
}
.premium_content-img
{
    display: block;
    margin: 0 auto;
}

.premium_content-title
{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
    color: var(--dark);
}

.premuim_content-text
{
    font-size: 13px;
    line-height: 1.6;
    color: var(--grey-2);
    text-align: center;
    width: 223px;
}
/* ====================================================================================== */
.section-vpn_content
{
    margin-bottom: 250px;
}
.section-vpn_title
{
    margin-bottom: 30px;
}

.section-vpn_text
{
    color: var(--grey-1);
    margin-bottom: 50px;
}

.section-vpn_messeg-athor,
.section-vpn_messeg-box
{
    display: flex;
}

.section-vpn_messeg
{
    display: flex;
    align-items: center;
}

.section-vpn_messeg-content
{
    width: 643px;
    height: 369px;
    background-color: var(--secondary);
    border-radius: 0 20px 20px 0;
    padding: 30px 30px 30px 200px;
    margin-right: 100px;
}

.section-vpn_messeg-text
{
    width: 415px;
    line-height: 2.0;
    color: var(--white);
    margin-bottom: 50px;
}

.section-vpn_messeg-img
{
    border-radius: 50px;
    background-color: var(--accent-02);
    margin-right: 20px;
}

.section-vpn_messeg-rating
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-vpn_messeg-name
{
    font-weight: 600;
    color: var(--white);
    margin-bottom: 8px;
}

.section-vpn_messeg-date
{
    font-size: 13px;
    color: var(--white);
}

.section-vpn_messeg-box
{
    display: flex;
    gap: 0 20px;
}
/* ============================================================== */
.section-questions-title
{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.section-questions_title
{
    font-size: 18px;
    line-height: 1.2;
    color: var(--grey-1);
}

.section-questions-ruletka
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 30px;
}

.section-questions-list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 67px 3px #00000014;
    padding: 30px;
    cursor: pointer;
}
